:root {
    --background-color-green: #b4ecec;
    --text-color-white: rgb(255, 255, 255);
    --background-color-dark-green: #5ABEBA;
    --text-color-black: rgb(0, 0, 0);
    --text-color-white: rgb(255, 255, 255);
    --map-button-background-color-blue: rgb(0, 0, 0);
}