<div class="row">
  <div class="col-md-12">
      <div id="visualization"></div>
      <script type="text/javascript" src="https://unpkg.com/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
      <script>
      // create groups to highlight groupUpdate
      var groups = new vis.DataSet([
          {id: 1, content: 'Truck 1'},
          {id: 2, content: 'Truck 2'},
          {id: 3, content: 'Truck 3'},


      ]);
      // create a DataSet with items
      // Need to generate dataset from optimization run data
      var items = new vis.DataSet([
          {id: 1, content: 'Depot', editable: false, start: '2010-08-23T07:00:00',  end: '2010-08-23T07:15:00', group: 1},
          {id: 2, content: 'Depot', editable: false, start: '2010-08-23T07:00:00',  end: '2010-08-23T07:15:00', group: 2},
          {id: 3, content: 'Depot', editable: false, start: '2010-08-23T07:00:00',  end: '2010-08-23T07:15:00', group: 3},
          {id: 4, content: 'Cp1', editable: { updateTime: true, updateGroup: true, remove: false }, start: '2010-08-23T07:30:00',  end: '2010-08-23T07:45:00', group: 1},
          {id: 5, content: 'Cp2', editable: { updateTime: true, updateGroup: true, remove: false }, start: '2010-08-23T07:50:00',  end: '2010-08-23T08:10:00', group: 2},
          {id: 6, content: 'Cp3', editable: { updateTime: true, updateGroup: true, remove: false }, start: '2010-08-23T07:36:00',  end: '2010-08-23T08:00:00', group: 3},
          {id: 7, content: 'Cp4', editable: { updateTime: true, updateGroup: true, remove: false }, start: '2010-08-23T09:00:00',  end: '2010-08-23T09:30:00', group: 1},
          {id: 8, content: 'Cp5', editable: { updateTime: true, updateGroup: true, remove: false }, start: '2010-08-23T08:00:00',  end: '2010-08-23T08:39:00', group: 2},
          {id: 9, content: 'Cp6', editable: { updateTime: true, updateGroup: true, remove: false }, start: '2010-08-23T09:00:00',  end: '2010-08-23T09:59:00', group: 3},
      ]);

      var container = document.getElementById('visualization');
      var options = {
          multiselect: true,
          onMove: function (item, callback) {
            // console.log(item.content+" ",item.start+" ",item.end);
            callback(item);
          }

      };

      var timeline = new vis.Timeline(container, items, groups, options);

      function getTimelineData(timeline){
        groups = timeline.groupsData.get()
        items = timeline.itemsData.get()
        const itemsByGroup = {};

        // Loop through the groups and find the items for each group
        groups.forEach(group => {
        // Filter the items for the current group
        const groupItems = items.filter(item => item.group === group.id);

        // Sort the items by start time
        groupItems.sort((a, b) => new Date(a.start) - new Date(b.start));

        // Store the sorted items for the current group
        itemsByGroup[group.id] = groupItems;
        });

        return itemsByGroup
      }


      </script>
  </div>
</div>
